.mainImage {
    width: 100%;
    height: 700px;
}

.myplaylist {
    font-size: 64px;
    text-align: center;
    margin-top: 115px;
    margin-bottom: 24px;
    color: #31383F;
    font-weight: normal;
}

.clickme {
    font-size: 24px;
    text-align: center;
    color: #31383F;
    margin-bottom: 115px;
}

@keyframes spinCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.musicPackage {
    text-align: center;
    margin-bottom: 50px;
}

.musicPackage span {
    display: inline-block;
}
.music {
    margin-left: 104px;
    margin-right: 104px;
    width: 310px;
    height: 310px;
}
.music:hover {
    animation-name:spinCircle;
    animation-duration:1s;
    animation-iteration-count:infinite;
}
.name {
    font-size: 40px;
    font-weight: 50;
}