.photo {
    background: url("../image/mainphoto.png");
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 1245px;
}
.welcome {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 865px;
    background: rgba(0, 0, 0, 0.27);
    text-align: left;
    font-size: 64px;
    padding-top: 380px;
    color: #FFFFFF;
}
.first_row {
    margin-top:0;
    margin-bottom: 0;
    margin-left: 400px;
    font-size: 120px;
    font-weight: bold;
}
.second_row {
    margin-top:0;
    margin-bottom: 0;
    margin-left: 400px;
    font-size: 120px;
    font-weight: lighter;
}

.third_row {
    color: rgba(255,255,255,0);
    margin-top:0;
    margin-bottom: 0;
    margin-left: 400px;
    font-size: 120px;
    font-weight: bolder;
    -webkit-text-stroke: 2px #FFFFFF
    /*text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;*/

}
.polygon {
    width:60px;
    height: 60px;
}

.main {
    text-align: center;
    margin-top: 41px;
}

.profile {
    font-size: 64px;
    font-weight: normal;
    margin-top: 47px;
    margin-bottom: 62px;
}

.first_letter {
    display: inline-block;
    font-size: 64px;
    color: #DD8EA4;
    margin:0;
    padding-top:22px;
}

.letter {
    display: inline-block;
    font-size: 64px;
    color: #31383F;
    margin:0;
    padding-top:22px;
}

.line {
    color: #000000;
    width: 90%;
    text-align: center;
    margin-top: 121px;
    margin-bottom: 20px;
}
.center {
    position: absolute;
    margin-left:50%
}
.mbti {
    display: inline-block;
    margin-top: 84px;
    background-color: #DCDCDC;
    width: 50%;
    height: 60px;
    border-radius: 50px;
}
.mbti_detail {
    font-size: 40px;
    margin: 21px;
}
.mbti_1 {
    background-color: #9BBBCF;
    height: 60px;
    width: 76%;
    border-radius: 50px;
}

.mbti_2 {
    background-color: #9BBBCF;
    height: 60px;
    width: 78%;
    border-radius: 50px;
}
.mbti_3 {
    background-color: #9BBBCF;
    height: 60px;
    width: 56%;
    border-radius: 50px;
}
.mbti_4 {
    background-color: #9BBBCF;
    height: 60px;
    width: 74%;
    float: right;
    border-radius: 50px;
}
.mbti_5 {
    background-color: #9BBBCF;
    height: 60px;
    width: 71%;
    float: right;
    border-radius: 50px;
}
.school {
    width: 512px;
    height: 512px;
    margin-bottom: 20px;
}

.school:hover {
    width: 512px;
    height: 512px;
    margin-bottom: 20px;
    filter: drop-shadow(2px 4px 7px rgba(0, 0, 0, 0.25));
}
div {
    margin:0;
}